---
layout: layout
title: "ScalaC - newletter"
---
<h3>Subscribe to newsletter</h3>

<form action="">
  <p>Enter your Email Address</p>
  <input type="email" name="email" required>

  <p>Pick Interesting Topics</p>

  {% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
  <!-- site_tags: {{ site_tags }} -->
  {% assign tag_words = site_tags | split:',' | sort %}
  <!-- tag_words: {{ tag_words }} -->
  <div>
    {% for item in (0..site.tags.size) %}{% unless forloop.last %}
      {% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
        <span class="pickable label label-primary">{{ this_word }} <sup>{{ site.tags[this_word].size }}</sup></span>
      {% endunless %}
    {% endfor %}
  </div>
  
  <p>Email settings</p>
  
  <input type="radio" name="freq"> <label for="freq">Inform me about new content on blog.scalac.io</label> <br/>
  <input type="radio" name="freq"> <label for="freq">Inform me about on topics corresponding to my interests</label> <br/>
  <input type="radio" name="freq"> <label for="freq">I'm ok without email, thanks</label> <br/>
  
</form>

<script>
  $(".pickable").on("click", function(){
    $(this).toggleClass("topic-of-interest");
  });
</script>