    <div class="header">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 col-sm-12">
					<div class="title hidden-xs">
						<div class="logo">
              <span><a href="http://www.scalac.io/"><img src="/images/logo.jpg"></a></span> <a href="/">Official team blog</a>
						</div>
						<div class="subtitle">Our thoughts, knowledge, insights and opinions</div>
					</div>
					<div class="title visible-xs">
						<div class="logo">
							<span><a href="http://www.scalac.io/"><img src="/images/logo-trans.png"></a></span>
              <a href="/"><div>Official team blog</div></a>
						</div>
						<div class="subtitle">Our thoughts, knowledge, insights and opinions</div>
					</div>
				</div>
			</div>
        </div>
	</div>
